{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WbAp - Login{% endblock %}

{% block page_content %}
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
    <h1 >Login</h1>
</div>
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
    {{ wtf.quick_form(form) }}
    <br>
    <p>New user?<a href="{{ url_for('auth.register') }}">Click here to register</a></p>
</div>
{% endblock %}