% extends "base.html" %}

{% block title %}WbAP - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, {{ current_user.username }}!
    </h1>
    <h3>You have confirmed your account now.</h3>
    <p>
        Dear {{ user.username }},

        Welcome to WbAp!

        To confirm your account please click on the following link:

        {{ url_for('auth.confirm', token=token, _external=True) }}

        Sincerely,

        The CodeX Team

        Note: replies to this email address are not monitored.
    </p>

</div>
{% endblock %}