
{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Warehouse</h1>
        <p>Add/Remove new stock items, check stock levels, Approve Project Requisitions.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('main.requisition') }}" role="button">Fill Requisition form  &raquo;</a></p>
      </div>
    </div>

    <div class="page-header">

        <div class="row">
            <div class="col-md-6">
                <h1>Requisitions</h1>
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <div id="success-alert" class="alert alert-success text-center font-14" style="display: none; margin-bottom: 10px;">
            Request processed successfully
        </div>

        <table style="border: 10px"  class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Client Name
                    </th>
                    <th>
                        Budget
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th class="text-center">
                        ACTION
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        ERP Management System
                    </td>
                    <td>
                        Geonet Technologies
                    </td>
                    <td>
                        ¢ 20000.00
                    </td>
                    <td>
                        3 Months
                    </td>
                    <td>
                        10th March, 2018
                    </td>
                    <td class="text-center">
                        <a data-toggle="modal" data-target="#addItemModal" href="#">View details</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Website Development
                    </td>
                    <td>
                        Geonet Technologies
                    </td>
                    <td>
                        ¢ 5000.00
                    </td>
                    <td>
                        1 Month

                    </td>
                    <td>
                        10th March, 2018
                    </td>
                    <td class="text-center">
                        <a data-toggle="modal" data-target="#addItemModal" href="#">View details</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        School Wiring
                    </td>
                    <td>
                        Government
                    </td>
                    <td>
                        ¢ 500000.00
                    </td>
                    <td>
                        12 Months
                    </td>
                    <td>
                        10th March, 2018
                    </td>
                    <td class="text-center">
                        <a data-toggle="modal" data-target="#addItemModal" href="#">View details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color: #000000 !important" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <p class="modal-title" style="font-size: 18px;" id="addItemModalLabel">
                    Requisition Details
                </p>
            </div>

            <div class="modal-body">
                <h2>Items Needed</h2>
                <table style="margin-top: 10px" class="table">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Quantity
                            </th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: items">
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                HP Envy i7 Laptop
                            </td>
                            <td>
                                Electronics
                            </td>
                            <td>
                                2 pieces
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Apple MacBook Pro
                            </td>
                            <td>
                                Electronics
                            </td>
                            <td>
                                1 piece
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Fibre Optic Cable
                            </td>
                            <td>
                                Cables
                            </td>
                            <td>
                                10 cm
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                Co-axial Cable
                            </td>
                            <td>
                                Cables
                            </td>
                            <td>
                                5 cm
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-6">
                        <button id="btn-confirm" style="margin-top: 5px;"
                                type="button"
                                data-dismiss="modal"
                                class="btn btn-primary btn-block">
                            Confirm
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button id="btn-deny" style="margin-top: 5px;"
                                type="button"
                                class="btn btn-outline-danger btn-block">
                            Deny
                        </button>
                    </div>
                </div>

                <div id="reason-form" style="display: none">
                    <textarea style="margin-top: 10px" placeholder="Reason for denying" class="form-control"></textarea>

                    <button id="btn-send-denying-reason" style="margin-top: 5px;"
                            type="button"
                            data-dismiss="modal"
                            class="btn btn-success">
                        SEND
                    </button>

                    <button id="btn-cancel-denying" style="margin-top: 5px;"
                            type="button"
                            class="btn btn-outline-primary">
                        CANCEL
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btn-deny').on('click', function () {
            $('#reason-form').fadeIn();
        });

        $('#btn-cancel-denying').on('click', function () {
            $('#reason-form').fadeOut();
        });

        $('#btn-confirm').on('click', function () {
            $('#success-alert').css({
                'display': 'block'
            });
        });

        $('#btn-send-denying-reason').on('click', function () {
            $('#success-alert').css({
                'display': 'block'
            });
        });
    });
    </script>
{% endblock scripts %}