{% extends "base.html" %}

{% block title %}WbAp{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="text-center">
                Welcome to GEONET ERP SYSTEM
        {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="container marketing">

      <div class="row">
        <div class="col-lg-5">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Project</h2>
          <p>Create, update and make requisitions for projects</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>
        </div><!-- /.col-lg-4 -->
         <div class="col-lg-5">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Warehouse</h2>
          <p>Add/Remove new stock items, check stock levels, Approve Project Requisitions</p>
          <p><a class="btn btn-lg btn-primary" href="{{ url_for('main.mapview') }}" role="button">Read more</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Finance</h2>
          <p>Budgets, Forecasts, and cashflows</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>HRM</h2>
          <p>Employee, Absence and salary management. Manage your People for sucess</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



{% endblock %}