
{% extends "base.html" %}

{% block content %}
    <div>

        <div class="row">
            <div class="col-md-6">
                <h1>Items</h1>
            </div>
            <div class="col-md-6">
                  <button style="margin-top: 5px;"
                        data-bind="click: addItem"
                        type="button"
                        class="btn btn-primary float-right">
                    New Item
                </button>
            </div>
        </div>

        <table style="margin-top: 10px" class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Qty Status
                    </th>
                    <th>
                        Item Cost
                    </th>
                    <th>
                        Date Modified
                    </th>
                    <th class="text-center">
                        ACTION
                    </th>
                </tr>
            </thead>

            <tbody data-bind="foreach: items">
                <tr>
                    <td data-bind="text: id">
                    </td>
                    <td data-bind="text: item_name">
                    </td>
                    <td data-bind="text: category.description">
                    </td>
                    <td data-bind="text: quantity_status">
                    </td>
                    <td>
                        ¢ <span data-bind="text: item_cost"></span>
                    </td>
                    <td data-bind="text: date_modified"></td>
                    <td class="text-center">
                        <a data-bind="click: $parent.editItem" href="#">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

     <!--Modals-->
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color: #000000 !important" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <p data-bind="text: modalTitle" class="modal-title" style="font-size: 18px;" id="addItemModalLabel">
                </p>
            </div>

            <div class="modal-body">
                <h4 class="text-center" data-bind="text: heading"></h4>
                <div id="message-alert" style="margin-bottom: 10px;" class="text-center alert">
                    <span id="message-alert-text"
                          class="alert-text">
                    </span>
                </div>
{#                <form action="{% url 'warehouse-add-items' %}" method="post">#}
{#                    {% csrf_token %}#}

                    <input type="hidden" id="item_id" name="item_id" value="-1">

                    <div class="form-group">
                        <!--<div class="text-center"><i class="icon-user"></i></div>-->
                        <input id="item_name"
                               type="text"
                               name="item_name"
                               class="form-control"
                               placeholder="Item name"
                               required
                               style="height: 40px; padding-top: 2.5px;">
                    </div>

                    <div class="form-group">
                        <!--<div class="text-center"><i class="icon-user"></i></div>-->
                        <textarea id="description"
                               name="description"
                               class="form-control"
                               placeholder="Description of item"
                               style="height: auto;" maxlength="500" rows="3" cols="1"></textarea>
                    </div>

                    <div class="form-group">
                        <!--<div class="text-center"><i class="icon-gauge"></i></div>-->
                        <input id="total_cost"
                               type="text"
                               name="total_cost"
                               class="form-control"
                               placeholder="Total cost per item e.g. 10.50"
                               required
                               style="height: 40px; padding-top: 2.5px;">
                    </div>
                    <div class="form-group">
                        <select id="category" style="height: auto;"
                                name="category"
                                class="form-control"
                                style="height: 40px; padding-top: 2.5px;" required>
                                <option value="">-- Select category --</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="quantity_status" style="height: auto;"
                                name="quantity_status"
                                class="form-control"
                                style="height: 40px; padding-top: 2.5px;" required>
                            <option value="">-- Select quantity status --</option>
                            <option value="In Stock">In Stock</option>
                            <option value="Out Of Stock">Out Of Stock</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button id="btn-save"
                                type="submit"
                                class="btn btn-success btn-block">
                            SAVE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function () {
        function ItemViewModel () {
            var self = this;
            self.heading = ko.observable('');
            self.modalTitle = ko.observable('');
            self.items = ko.observableArray([]);

            self.loadItems = function() {
                if (self.items().length < 1) {
                    console.log('Get items');
                    $.ajax({
                        url: '/warehouse/ajax/get-items/',
                        type: 'GET',
                        success: function (data) {
                            if (data.success === true) {
                                self.items(data.items);

                                console.log('items retrieved');
                            }
                        },
                        error: function () {
                            // Show an error message
                        }
                    });
                }
            };

            self.loadItems();

            self.addItem = function() {
                self.heading('Add New Item');
                self.modalTitle('New Item');
                $('#message-alert').hide();
                $('#addItemModal').modal('show');

                $('#item_id').val(-1);
                $('.form-control').val('');
            };

            self.editItem = function(item) {
                self.heading('Edit Existing Item');
                self.modalTitle('Edit Item');

                $('#item_id').val(item.id);
                $('#item_name').val(item.item_name);
                $('#description').val(item.description);
                $('#quantity_status').val(item.quantity_status);
                $('#total_cost').val(item.item_cost);
                $('#category').val(item.category.id);

                $('#addItemModal').modal('show');
            };
        }

        ko.applyBindings(new ItemViewModel());
    });
    </script>
{% endblock scripts %}